.wrapper-pagenumber{
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    font-family: 'Open Sans', Arial, sans-serif;    color: #777;
    align-items: center;
    padding: 10px 5px 0 5px;
    .contain-btn{
        display: flex;
        span{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            padding: 5px;
            width: 25px;
            height: 25px;
            background-color: #f5f5f5;
            &:hover{
                opacity: 0.7;
            }
        }
    }
}